<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Pulse</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Gauge</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Gauge</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Sonar</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Sonar</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>TwoTone</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-TwoTone</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>tr</string>
		<string>es</string>
		<string>pt-BR</string>
		<string>fr</string>
		<string>de</string>
		<string>it</string>
		<string>ru</string>
		<string>ja</string>
		<string>ko</string>
		<string>zh-Hans</string>
		<string>ar</string>
		<string>hi</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Pulse can save shareable cards to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Pulse reads your photo library to suggest items to delete. Nothing is uploaded.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
	</dict>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
